# =========================
# MovieLens dataset
# =========================
data/ml-32m/*.csv
data/ml-32m/*.zip

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Python environments
# =========================
.venv/
venv/
env/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Environment / secrets
# =========================
.env
.env.*
*.secret

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log